<script>
window.location.href = '/auth/login';
</script>
{% extends "sentry/bases/auth.html" %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load sentry_assets %}

{% block title %}{% trans "Login" %} | {{ block.super }}{% endblock %}
{% block header %}
{% endblock %} 
{% block bordermenu %}{% endblock %}
{% block content %}

  {% if provider_name %}
    <form class="form-stacked" action="" method="post" autocomplete="off">
      {% csrf_token %}

      <div class="align-center">
        <p>Sign in with your {{ provider_name }} account to continue.</p>

        <p><button type="submit" class="btn btn-default btn-login-{{ provider_key }}">
          <span class="provider-logo {{ provider_name | lower}}"></span> Login with {{ provider_name }}
        </button></p>
      </div>
    </form>
  {% else %}

    <div class="tab-content basic-login">
      <div class="align-center">
        <img src="{% asset_url "sentry" "images/logo.png" %}" class="org-avatar">

        <h3>登录到LogInsight</h3>
      </div>
      <div class="tab-pane{% if op == "login" %} active{% endif %}" id="login">
        <form class="form-stacked" action="" method="post" autocomplete="off">
          {% csrf_token %}

          <input type="hidden" name="op" value="login" />

          {{ login_form|as_crispy_errors }}

          {% for field in login_form %}
            {{ field|as_crispy_field }}
          {% endfor %}

          <fieldset class="form-actions">
            <button type="submit" class="btn btn-success">{% trans "Login" %}</button> 
            <a class="pull-right" style="margin-top: 9px" href="{% url 'sentry-account-recover' %}">{% trans "Lost your password?" %}</a>
          </fieldset>
        </form>
      </div>
    </div>
  {% endif %}
{% endblock %}
{% block reactInit %}{% endblock %}