.alerts{
    .new-alert{
    background: #fa770d none;
    color: #fff;
    padding: 6px 14px;
    border-radius: 5px;
    }
    input.form-control{
        display: inline-block;
    }
    // .alert-main{
    //     display: -webkit-flex;
    //     display: flex;
    //     .alert-title{
    //         width: 80px;
    //     }
    //     .alert-input {
    //       -webkit-flex: 1;
    //               flex: 1;
    //     }
    // }
    .alert-option{
        cursor: pointer;
        i{
            padding-right: 5px;
        }
    }
    .other-option{
        padding-left: 0;
        li{
            padding-left: 40px;
            >label{
                float: left;
                width: 40px;
                margin-left: -40px;
                font-size: 22px;
                line-height: 40px;
            }
        }
    }
}
