.sa-dashboard {
    position: fixed;
    left: 50px;
    top: 40px;
    right: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
}
.dashboard-header {
    position: relative;
    padding: 0 20px 0 30px;
    margin-top: 20px;
    .app-tit {
        float: left;
        line-height: 30px;
        margin-right:30px;
        padding-right: 30px;
        border-right:1px solid #ccc;
    }
    .add-btn{
        // margin-left:30px;
        .dropdown-menu{
            right:0;
            left:auto;
        }
    }
}
.dashboard-body {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 50px;
    overflow-y: auto;
}






@import url("./dashboard/list.less");
