// structure app
.sa-extract {

  .alert.alert-block.alert-error {
    margin-top: 30px;
  }

  .box {
    border: none;
    box-shadow: none;
  }

  .sub-header {
    border-bottom: 1px solid #D6DBE4;
    font-weight: 600;
    color: #394359;
    margin-bottom: 0;
  }

  // ::: structure
  .extractor-container {

    .breadcrumb {
      padding: 8px 15px 8px 0;
      background-color: transparent;
      font-size: 14px;
    }

    .chart-view {
      height: 220px;
      margin-bottom: 20px;
    }

    .control-group {

      .tab-btn {
        .btn-default.btn-primary {
          color: #fff;
        }
      }
    }

    .time-range {
      font-size: 15px;
      line-height: 28px;
      .time {
        margin: 0 4px;
        background-color: #aaa;
        font-size: 13px;
        display: inline-block;
        padding: 0 10px;
        color: #fff;
        cursor: no-drop;
      }
    }

    .result-view {

    }

    .load-config {
      line-height: 28px;
      font-size: 15px;
      span {
        color: #aaa;
      }
      .loading {
        opacity: .5;
        display: inline-block;
        margin: 0 10px;
        width: 16px;
        height: 16px;
        background: url('../images/loading-sm.gif');
        background-size: cover;
        vertical-align: middle;
      }
    }

    .events-view {
      ul {
        padding: 0;
        margin: 10px 0 0;
      }
      .event-item {
        list-style: none;
        margin: 0;
        padding: 0;
        pre {
          word-break: break-word;
          font-size: 13px;
          line-height: 1.6;
          padding: 10px 0;
          margin: 0;
          background: transparent;
          color: #50A035;
        }
      }

      .load-more {
        padding: 50px 0 100px;
        text-align: center;
        .more-btn {
          padding: 8px 50px;
        }
      }
    }

    .chart-wrap {
      height: 100%;
    }

  }
  .extract-role {
    .template-chart-wrap {
      width: 200px;
      height: 100%;
      background-color: #ccc;
    }

    .template-editor-wrap {
      margin-left: 200px;
      background-color: #eee;
      height: 100%;

      .template-editor {

      }
      .save-btn {

      }
    }
  }

  .structure-template {
    .result-head {
      padding: 10px;
      border-bottom: 1px solid #efefef;
      h4 {
        margin: 0;
        padding: 0;
      }
    }

    .template-list {
      margin-top: 20px;
    }

    .template-item {
      margin-bottom: 30px;
    }

    .template-info {

    }

    .matched_events {
      margin: 0;
      padding: 0;
    }

    .event-item {
      padding: 0;
      margin: 5px 0;
      list-style: none;
      word-break: break-word;
      font-size: 13px;
      line-height: 1.6;
      background: transparent;
      color: #333;
    }
  }

}