// transition:
.stream-list-ani-enter {
  transform: translateX(1000px) translateZ(0);
}

.stream-list-ani-enter.stream-list-ani-enter-active {
  transform: translateX(0) translateZ(0);
}

.stream-list-ani-leave {
  transform: translateX(0) translateZ(0);
}

.stream-list-ani-leave.stream-list-ani-leave-active {
  transform: translateX(1000px) translateZ(0);
}

// overlay
.stream-list-overlay .stream-list-container {
  position: fixed;
  top: 105px;
  right: 0;
  bottom: 0;
  left: 400px;
  background-color: #fff;
  border-left: 1px solid #ccc;
  overflow-y: auto;
  padding: 0 0 0 20px;
  z-index: 2;
  transition: left 800ms cubic-bezier(0, 0, 0, 1.16), transform 500ms cubic-bezier(0, 0, 0, 1.16);
  &.pull {
    left: 280px;
  }
}

// file list
.file-list-ani-enter {
  transform: translateX(1000px) translateZ(0);
}

.file-list-ani-enter.file-list-ani-enter-active {
  transform: translateX(0) translateZ(0);
}

.file-list-ani-leave {
  transform: translateX(0) translateZ(0);
}

.file-list-ani-leave.file-list-ani-leave-active {
  transform: translateX(1000px) translateZ(0);
}

// overlay
.file-list-overlay .file-list-container {
  position: fixed;
  top: 105px;
  right: 0;
  bottom: 0;
  left: 500px;
  background-color: #fff;
  border-left: 1px solid #ccc;
  overflow-y: auto;
  padding: 0 0 0 20px;
  z-index: 2;
  transition: transform 500ms cubic-bezier(0, 0, 0, 1.16);
}

// storage app
.sa-storage {

  .alert.alert-block.alert-error{
    margin-top: 30px;
  }

  .box{
    border: none;
    box-shadow: none;
  }

  .sub-header {
    border-bottom: 1px solid #D6DBE4;
    font-weight: 600;
    color: #394359;
    margin-bottom: 0;
    padding-left: 15px;
  }

  // :::: common
  .list-wrap {
    ul {
      padding-left: 0;
    }

    .list-head {
      border-bottom: 1px solid #D6DBE4;
      padding: 15px 0;
      height: 60px;
      h5 {
        margin: 0 30px 0 0;
        display: inline-block;
        font-weight: 300;
      }
    }
  }

  .list-item {
    list-style: none;
    position: relative;
    //margin-bottom: 30px;
    border-bottom: 1px solid #eee;
    padding: 20px 0 20px 10px;
    transition: background-color 200ms;
    &.active {
      background-color: #fafafa;
      &:before {
        content: ' ';
        position: absolute;
        left: 0;
        top: -1px;
        bottom: -1px;
        width: 5px;
        //background-color: rgba(80,160,53);
        background-color: #ccc;
      }
    }

    .item-name {
      font-weight: 600;
      font-size: 15px;
      margin: 0 0 3px;
    }

    .props-list {
      padding-left: 0;
      font-size: 12px;
      color: #6F7E94;
      li {
        list-style: none;
        float: left;
        margin-right: 30px;
      }
    }
  }

  // :::: hosts
  .host-stat {
    ul {
      padding: 20px 0 0 0;
    }
    li {
      list-style: none;
      width: 50%;
      float: left;
    }
    .nav-header {
      padding: 0 0 10px;
      margin: 0;
    }
    .count {
      font-size: 36px;
      color: #546076;
      margin: 10px 0 20px;
      .unit {
        display: inline-block;
        margin-left: 10px;
        font-size: 14px;
        color: #333;
      }
    }

    .statistics {
      min-width: 350px;
      .sl {
        position: relative;
        float: left;
        width: 13px;
        margin-right: 5px;
        height: 100px;
        &:hover .s {
          background: #6FBA57;
        }
      }
      .s {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: linear-gradient(to bottom, #8c98aa 0%, #6F7E94 100%);
        background-color: #ccc;
      }
    }
  }

  // :::: files
  .file-list {
    .item-name {
      a {
        color: #394359;
      }
    }
    .path-block {
      margin-top: -5px;
    }
    .props-list {
      width: 300px;
    }
    .list-item{
      &:hover{
        .analytic{
          opacity: 1;
        }
      }
    }
    .analytic {
      margin-left: 300px;
      max-width: 400px;
      opacity: .5;
      transition: opacity 300ms;
      ul{
        padding:0;
        display: table;
        width:100%;
      }

      .sl {
        position: relative;
        float: left;
        width:3.33%;
        list-style: none;
        display: table-cell;
        padding:0;
        margin:0;
        height: 50px;
        &:hover .s {
          background: #6FBA57;
        }
      }
      .s {
        display: block;
        position: absolute;
        left: 1px;
        right: 1px;
        bottom: 0;
        background-image: linear-gradient(to bottom, #8c98aa 0%, #6F7E94 100%);
        background-color: #ccc;
      }

    }
    .actions {
      padding: 0;
      li {
        list-style: none;
        float: left;
        margin-right: 30px;
        font-size: 12px;
        a {
          color: #aaa;
          padding: 0;
          &:hover {
            color: #25A6F7;
          }
        }
      }
    }
  }

  // log preview
  .log-preview {
    .breadcrumb {
      padding: 8px 15px 8px 0;
      background-color: transparent;
      font-size: 14px;
    }

    .preview-head {

    }

    .events {
      position: fixed;
      top: 150px;
      left: 0;
      right: 0;
      bottom: 0;
      overflow-y: auto;
      background-color: #050505;
      padding: 30px 0;
    }

    .event-item {
      margin: 0 80px;
      pre {
        word-break: break-word;
        font-size: 13px;
        line-height: 1.6;
        padding: 10px 0;
        margin: 0;
        background: transparent;
        color: #50A035;
      }
    }
  }

}

