// transition:

.host-mng-ani-enter {
  transform: translateX(1000px);
}

.host-mng-ani-enter.host-mng-ani-enter-active {
  transform: translateX(0);
  transition: all 400ms;
}

.host-mng-ani-leave {
  transform: translateX(0);
}

.host-mng-ani-leave.host-mng-ani-leave-active {
  transform: translateX(1000px);
  transition: all 300ms;
}

// overlay
.host-mng-overlay .host-mng-container {
  position: fixed;
  top: 43px;
  right: 0;
  bottom: 0;
  left: 380px;
  background-color: #fff;
  border-left: 1px solid #ccc;
  box-shadow: -3px 3px 10px #ccc;
  overflow-y: auto;
  padding: 20px;
  z-index: 2;
}

// host manage
.host-mng-container {

}


// storage app
.sa-storage {
  .sub-header {
    border-bottom: 1px solid #D6DBE4;
    font-weight: 600;
    color: #394359;
    padding-left:15px;
  }
}

