.sa-search {
    position: fixed;
    left: 50px;
    top: 40px;
    right: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
}
.search-header {
    position: relative;
    padding: 0 20px 0 30px;
    height: 60px;
    .app-tit {
        float: left;
        margin: 20px 0;
    }
    .save-panel {
        float: left;
        margin: 20px 0 0 30px;
        .saved-list {
            float: left;
            padding-right: 15px;
            margin-right: 15px;
            border-right: 1px solid #ccc;
            .status {
                margin: -5px 0 0 5px;
                font-size: 12px;
                color: rgb(236, 133, 38);
            }
        }
        .save-ctrl {
            float: left;
        }
    }
    .tab-nav {
        position: absolute;
        left: 580px;
        bottom: 0;
        .btn {
            border-bottom: 0;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            box-shadow: none;
            text-shadow: none;
        }
        .nav-active {
            background-color: #eee;
            border-color: #BAC2D3;
            color: #546076;
        }
    }
    .time-panel {
        float: right;
        margin-top: 20px;
        .btn-refresh {
            // float: right;
        }
        .time-range {
            float: right;
            font-size: 13px;
            line-height: 28px;
            margin-left: 10px;
            .selector {
                border-bottom: 1px dotted #ccc;
                margin: 0 7px;
                cursor: pointer;
            }
        }
    }
}
.search-query {
    padding: 10px 20px 10px 30px;
    background-color: #eee;
    .query-l {
        float: left;
        width: 97px;
        .s-tit {
            font-weight: normal;
            margin: 10px 0 0;
        }
    }
    .query-r {
        margin-left: 97px;
    }
}
//
// ***** result tab *****
.search-result-tab {
    position: absolute;
    top: 118px;
    left: 0;
    right: 0;
    bottom: 0;
    .search-histogram {
        height: 80px;
        background-color: #ccc;
    }
    .search-result-body {
        position: absolute;
        left: 0;
        right: 0;
        top: 80px;
        bottom: 0;
        // padding:0 20px 0 30px;
        .s-container {
            display: table;
            height: 100%;
            width: 100%;
        }
    }
    .fields_wrap,
    .result-wrap {
        display: table-cell;
        height: 100%;
    }
    .fields_wrap {
        width: 200px;
        position: relative;
        border-right: 3px solid #eee;
        .field-head {
            background-color: #eee;
            border-bottom: 1px solid #ccc;
            padding: 5px 10px;
            .tit {
                font-weight: bold;
            }
            .fold-btn {
                float: right;
                width: 22px;
                text-align: center;
                font-size: 13px;
                color: #999;
                line-height: 20px;
                cursor: pointer;
                &:hover {
                    background: #ccc;
                    border-radius: 3px;
                }
            }
        }
        .field-filter {
            border-bottom:1px solid #eee;
            .input-group-addon {
                background: transparent;
                border: none;
                margin: 0;
                padding: 6px 10px;
                box-shadow: none;
            }
            .form-control {
                padding-left: 0;
            }
            input {
                border: none;
            }
        }
        .field-group-list {
            position: absolute;
            top: 70px;
            left: 0;
            right: 0;
            bottom: -20px;
            overflow-y: auto;
        }
        .field-group-tit {
            display: block;
            font-weight: normal;
            padding: 5px 0 5px 10px;
            background-color: #eee;
            font-size: 13px;
            b {
                font-size: 12px;
                margin-left: 5px;
                font-weight: normal;
            }
        }
        .field-group {
            padding: 10px 0;
        }
        .field-item {
            display: block;
            padding: 3px 0 3px 20px;
            input {
                margin-right: 5px;
            }
            span {
                cursor: pointer;
                font-weight: normal;
                font-size: 13px;
            }
        }
    }
    .result-wrap {
        position: relative;
        .viewer-head {
            border-bottom: 1px solid #ccc;
            padding: 0 10px 10px 10px;
            .pagination {
                margin: 10px 10px 0;
            }
            .btn-selector {
                margin: 10px 0 0;
            }
        }
        .result-view {
            position: absolute;
            top:60px;
            left:0;
            right:0;
            bottom:0;
            overflow-y: auto;
            padding: 0 10px;
        }
        .re-table {
            min-width: 100%;
            border: none;
            font-size: 14px;
            td,
            th {
                vertical-align: top;
            }
            td {
                padding: 5px 10px;
            }
            th {
                padding: 5px 10px;
                font-size: 14px;
                font-weight: normal;
                span.field {
                    font-weight: normal;
                    font-size: 12px;
                }
                .sort-btn {
                    margin: 0 5px;
                    font-size: 9px;
                    color: #546076;
                    padding: 3px 5px;
                    cursor: pointer;
                }
            }
            thead {
                border-bottom: 1px solid #ddd;
            }
            tbody {
                // position: absolute;
                // left:0;
                // right:0;
                // top:40px;
                // bottom:0;
                // background: red;
                // overflow: auto;
                tr{
                    border-bottom:1px solid #ecf0f1;
                }
            }
            .ct-row {
                width: 24px;
                text-align: center;
                padding-left: 0;
                padding-right: 0;
                .fold-btn {
                    font-size: 9px;
                    color: #546076;
                    cursor: pointer;
                    padding: 0 7px;
                }
            }
        }
        .search-table-timefield,.search-table-field {
            white-space: nowrap;
        }
        .search-table-sourcefield {
            line-height: 1.8em;
            word-break: break-all;
        }
    }
}
