ul {
    list-style: none;
    padding: 0;
}

.select-log-type .select-type-text {
    float: left;
    max-width: 250px;
    padding-right: 56px;
    font-size: 13px;
}

.select-type-text h3 {
    font-size: 21px;
    line-height: 1.5em;
    margin: 10px 0;
}

.select-type-icon a {
    display: inline-block;
    padding: 0 8px;
}

.select-log-type .select-type-icon {
    float: left;
    padding: 22px 0px 22px 0;
    text-align: center;
}

.select-type-icon .icon-circle-setup {
    border-radius: 50%;
    border: 1px solid #d8d8d8;
    width: 56px;
    height: 56px;
    display: block;
}

.select-type-icon .icon-circle-setup i {
    font-size: 30px;
    line-height: 56px;
}

.select-type-icon .icon-text {
    width: 58px;
    font-size: 10px;
    padding-top: 5px;
}

.addlog img.addlog_icon {
    width: 55px;
    height: 55px;
    position: absolute;
    top: 27px;
    left: 3px;
}

.no-p-l{
    padding-left: 0;
}

.container-alligment {
    padding: 5px 15px;
    margin-left: 0;
    display: inline-block;
}

.selected-step {
    font-weight: 600;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    background: #3995c2;
    border: 5px solid #3995c2;
    color: #fff;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    font-size: 16px;
    box-sizing: content-box;
}

.unselected-step {
    font-weight: 600;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    background: #add4e7;
    border: 5px solid #add4e7;
    color: #fff;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    font-size: 16.1px;
    box-sizing: content-box;
}

.no-p-l{
    padding-left: 0;
}

.well{
    border: 1px solid transparent;
}

.border-l{
    border-left: 1px solid #f0f0f0;
}

.border-t-b{
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
}

.card-listcontent .btn{
    display: inline-block;
    padding: 0 8px;
    margin-bottom: 10px;
}

.steps .card {
    padding-top: 16px;
}

.select-type-icon .icon-text {
    width: 58px;
    font-size: 10px;
    padding-top: 5px;
}

.card-heading.simple {
    font-size: 20px;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #e5e5e5;
    padding: 4px 10px;
}

.no-p-l {
    padding-left: 0;
}

.no-p-t {
    padding-top: 0;
}

.card-body {
    padding: 0 20px;
}

.select-log-type{
    padding: 20px;
}

.border-t-b{
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.border-r{
    border-right: 1px solid #e5e5e5;
}

/*dropzone*/
.dropzone {
    width: 600px;
    height: 190px;
    background-size: 600px 190px;
    position: relative;
    margin-top: 20px;
}

.dropzone-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -54px;
    margin-left: -36px;
}

.dropzone-icon .fill {
    fill: rgba(82,160,51,.8);
}

.dropzone-box {
    fill: none;
    position: absolute;
    left: 10px;
    top: 5px;
    display: block;
}

.dropzone-box .dashed {
    stroke-width: 2px;
    stroke-dasharray: 10,10;
    stroke: rgba(82,160,51,0.5);
}

.dropzone-text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.dropzone-text h2 {
    color: #65a637;
    background-color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: 200;
    display: inline-block;
    margin: 0;
    padding: 5px 10px;
}

.fileUpload .max-filesize {
    text-align: center;
    display: block;
    width: 600px;
}

/*success-step*/
.success-container{
    padding-left: 10%;
}

.card-body .success-container a{
    /*display: inline-block;*/
    font-size: 13px;
}

.success-container .fa-check {
    float: left;
    width: 40px;
    font-size: 34px;
    color: #65a637;
    line-height: 33px;
    margin-left: -50px;
}

.success-option {
    display: block;
    margin-top: 10px;
}

.success-option .success-option-icon:hover,.success-option .success-option-icon:active{
    background-color: #F7F7F7;
    text-decoration: none;
}

.success-option p a:hover{
    background-color: transparent;
    text-decoration: none;
}


.success-option p {
    display: inline-block;
    margin: 0 0 8px;
    font-size: 16px;
    padding-left: 10px;
    /*margin-bottom: 0;*/
}

.success-option p a {
    padding-left: 0;
}

.success-option .success-option-icon{
    width: 54px;
    height: 54px;
    padding: 10px;
    margin-bottom: 0;
    border-radius: 50%;
    border: 2px solid #52A033;
    background-color: transparent;
    margin-bottom: 26px;
}

.success-option .success-option-icon i{
    font-size: 24px;
    color: #52A033;
    line-height: 30px;
}

.success-option .success-option-icon:hover i{
    color: #52A033;
}

.card{
	border: 1px solid #d8d8d8;
}

h2.card-heading{
	margin: 0;
	line-height: 30px;
}

.card .card-body {
    padding: 0 20px 15px;
}
.card .card-body {
    margin-top: 20px;
}
.code {
    padding: 5px 15px;
    display: block;
    font-size: 14px;
    font-weight: bold;
    background-color: #eee;
}
.form-actions {
    padding: 19px 20px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fff;
}