<div class="leftbar clearfix">
    <div class="op-info-left-panel clearfix">
        <div class="op-thumb">
            <nav id="bt-menu" class="bt-menu">
                <a class="bt-menu-trigger" href="/">
                    <img src="/_static/sentry/images/org-logo-normal.png" class="op-avatar"/>
                </a>
            </nav>
        </div>
    </div>
    <div class="left-nav clearfix">
        <div class="left-primary-nav">
            <ul id="myTab">
                <li>
                    <a class="fa fa-home active" title="issues" href="/events/"></a>
                </li>
                <li>
                    <a class="fa fa-database" title="log storage" href="/storage/"></a>
                </li>
                <li>
                    <a class="fa fa-search" title="search" href="/search/"></a>
                </li>
            </ul>
        </div>
    </div>
</div>