.designer-body {
    // height: 100%;
    .s2-container {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    .xy-axis {
        margin-top: 5px;
        .xy-row {
            padding: 5px 0;
            margin-top: 5px;
        }
        .row-tit {
            float: left;
            margin-left: 20px;
            line-height: 30px;
        }
        .tag-wrap {
            margin: 0 30px 0 80px;
            height: 30px;
            border: 1px solid #DBDBDC;
            border-radius: 2px;
            .placeholder {
                font-size: 13px;
                color: #757575;
                line-height: 30px;
                padding-left: 10px;
            }
            &.can-drop {
                // box-shadow: 0 0 1px 1px #25A6F7;
            }
            &.active {
                // box-shadow: 0 0 2px 2px #25A6F7;
                border-color: #25A6F7;
            }
            .tag-item {
                display: inline-block;
                padding: 0 15px 0 12px;
                margin: 1px 2px;
                max-width: 500px;
                border: 1px solid #9ed1ff;
                border-radius: 2px;
                background: #D1E9FF;
                color: #404040;
                font-size: 13px;
                // cursor: pointer;
                &:hover {
                    border: 1px solid #6bb8ff;
                    background: #B9DDFF;
                }
                .remove-btn {
                    color: #525252;
                    margin-left: 10px;
                    border: 1px solid transparent;
                    padding: 1px 2px 1px 1px;
                    border-radius: 2px;
                    cursor: pointer;
                    &:hover {
                        border: 1px solid #505050;
                    }
                }
            }
        }
    }
    .designer-frame {
        position: absolute;
        left: 20px;
        right: 0;
        top: 100px;
        bottom: 10px;
        .x-axis,
        .y-axis {
            position: absolute;
            text-align: center;
            font-size: 15px;
            color: #444;
        }
        .y-axis {
            top: 0;
            left: 0;
            bottom: 50px;
            width: 60px;
            border-right: 1px solid #eee;
            .vertical-text {
                left: 10px;
                top: 50%;
                white-space: nowrap;
                position: absolute;
                transform: rotate(-90deg);
            }
        }
        .x-axis {
            left: 59px;
            right: 30px;
            bottom: 10px;
            height: 40px;
            border-top: 1px solid #eee;
            line-height: 60px;
        }
        .frame-body {
            position: absolute;
            left: 70px;
            right: 30px;
            top: 0;
            bottom: 60px;
            // background: #eee;
        }
    }
}
